.single-post-page {
  width: 100%;
  display: flex;
  flex-direction: row;
}

/*tablets*/
@media (max-width: 768px) {
  .single-post-page {
    flex-direction: column;
  }
}

/*phone*/
@media (max-width: 600px) {
}
