.sign-up-page {
  width: 100%;
  background-color: var(--backgound);
  display: flex;
  justify-content: center; /* horizontal center */
  align-items: center;
}

.form-container {
  width: 80%;
}

.form-container > form {
  height: 80%;
  width: 100%;
  margin: auto;
  padding: 10%;
  border-radius: 5%;
  background-color: var(--tertiary);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  box-shadow: 10px 10px var(--secondary);
}

.input-container {
  width: 100%;
}

form > h2 {
  font-weight: bold;
}

/*tablets*/
@media (max-width: 768px) {
}

/*phone*/
@media (max-width: 600px) {
  .form-container {
    width: 100%;
    height: 100%;
  }

  .form-container > form {
    height: 100%;
    width: 100%;
    border-radius: 0;
    box-shadow: none;
    padding: 15%;
  }
}
