:root {
  --primary: #f9d9b7;
  --secondary: #ffb7b2;
  --tertiary: #fff3e0;
  --surface: #ffffff;

  --background: #fafafa;
  --text-primary: #1a1a1a;
  --text-secondary: #555555;
}

* {
  margin: 0;
  box-sizing: border-box;
  font-style: normal;
  font-family: sans-serif;
}

.App {
  background-color: var(--background);
}

.fullpage {
  height: calc(100vh - 40px - 40px);
}
